<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365079309712-j6p8hpkc4f5om9b98m36fj4d2pg2hil4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365079309712-j6p8hpkc4f5om9b98m36fj4d2pg2hil4</string>
	<key>API_KEY</key>
	<string>AIzaSyCBw5xe5EH140Zt999ee37GbTjSJlf31Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>365079309712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWalletApp</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-b9bb2</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-b9bb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365079309712:ios:4afec7f84d588b1b851715</string>
</dict>
</plist>